recursive-include grascii *.lark
include grascii/defaults.conf
prune grascii/dictionary/preanniversary

prune dictionaries
recursive-include dictionaries/builtins *.txt
prune dictionaries/builtins/preanniversary-phrases-preview

recursive-include docs *.rst Makefile
recursive-include docs/images *.png
prune docs/reference
include docs/conf.py docs/make.bat

recursive-include tests *.py *.txt
include *.md
include *.yaml
exclude .gitmodules
