recursive-include grascii *.lark
exclude grascii/grammars/grascii_regex.lark
include grascii/defaults.conf
prune grascii/dictionary/preanniversary

prune dictionaries
recursive-include dictionaries/builtins *.txt
prune dictionaries/builtins/preanniversary-phrases-preview

recursive-include docs *.rst *.md Makefile
recursive-include docs/images *.png *.graphml
prune docs/reference
include docs/conf.py docs/make.bat

recursive-include scripts *.py
recursive-include tests *.py *.txt
include *.md
include *.yaml
exclude .gitmodules
