
include dsrc/*.txt
include grascii/*.py
include grascii/grammars/*.lark
include docs/*.md
include README.md starter.conf setup.py
recursive-include tests *.py *.txt
prune grascii/dict
include grascii/dict/__init__.py
